<!-- <h1 appMycolor>App Component</h1><hr>
Welcome {{title}}
<app-product></app-product> -->


<!-- <javeed></javeed>
<app-interpolation></app-interpolation>

<app-property-binding></app-property-binding>
<app-event-binding></app-event-binding> -->

<!-- <app-twoway-binding></app-twoway-binding> -->

<!-- <app-struct-directives></app-struct-directives> -->


<!-- <app-calculator></app-calculator> -->
<!-- <app-product></app-product> -->

<!-- <app-attribute-dirs></app-attribute-dirs> -->

<!-- <myuppercasepipe></myuppercasepipe> -->

<!-- <app-parentcomp></app-parentcomp>

<app-calculatorcomponent></app-calculatorcomponent> -->



<!-- <h1>App Component<hr></h1>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
 -->
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->

  <!-- Toggler/collapsibe Button -->
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"> -->
    <!-- <span class="navbar-toggler-icon"></span> -->
  <!-- </button> -->

  <!-- Navbar links -->
  <!-- <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink='/java' routerLinkActive='active'>Java</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/web' routerLinkActive='active'>Web</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet> -->

<!-- <app-template-driven></app-template-driven> -->
<app-model-driven></app-model-driven>